@import url("/fonts/stylesheet.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

span::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

span::-webkit-scrollbar-track {
  background: #f8fbff;
}

span::-webkit-scrollbar-thumb {
  background-color: #0071ff;
  border-radius: 10px;
}
